@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family:'Roboto','Times New Roman', Times, serif;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

/* Make sure everything doesn't break at high zooms */

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
    grid-template-areas: "sidebar header"
                "sidebar main";
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 12fr;
    grid-template-areas: "branding" "nav";
    background-color: #3abc79;
    color: white;
}

nav {
    grid-area: nav;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "pg" "settings";
 }

 .branding {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 450;
    font-family:'Rubik','Times New Roman', Times, serif;
 }

 .branding img {
    width: 70px;
    height: auto;
 }

 .sidebar,
    nav {
        gap: 45px;
        font-size: 1.5rem;
        font-weight: 400;
    }

 .page-nav {
    grid-area: pg;
 }

.settings-nav {
 grid-area: settings;
}

header {
    grid-area: header;
    display: grid;
    grid-template-rows: 2fr 3fr;
    align-items: center;
}

header .top {
    display: grid;
    grid-template-columns: 11fr 1fr 1fr 2fr;
    align-items: center;
}

form {
    display: flex;
}

label {
    display: flex;
    align-items: center;
}

input[type="search"] {
    appearance: none;
    border: none;
    border-radius: 20px;
    height: 28px;
    width: 100%;
    min-width: 215px;
    outline: 0;
    background-color: #e0e6ef;
}

input[type="search"]:hover, input[type="search"]:focus {
    border: 1.5px solid #009688;
    background-color: white;
}

input[type="search"]:not(:focus, :active)::-webkit-search-cancel-button {
    display: none; 
}

.top .profile-pic {
    height: 50px;
    width: auto;
}

.name {
    font-family:'Lora', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/* make sure name doesn't wrap (max content?) */

header .bottom {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: center;
}

.bottom .profile {
    display: flex;
    flex-direction: column;
}

.bottom .profile-pic {
    height: 90px;
    width: auto;
}

button {
    font-size: 16px;
    font-weight: 600;
    padding: 8px 25px;
    border-radius: 20px;
    height: fit-content;
    color: white;
    background-color: #4598dc;
    appearance: none;
    border: none;
}

button:hover {
    cursor: pointer;
    outline: #2A4DD0 solid;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.title {
    font-size: 1.4rem;
    font-weight: 400;
    font-family: 'IBM Plex Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

main .projects {
    display: grid;
    grid-template-rows: 1fr 13fr;
}

main .notices {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr 6fr;
}