@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family:'Roboto','Times New Roman', Times, serif;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

/* Make sure everything doesn't break at high zooms */

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
    grid-template-areas: "sidebar header"
                "sidebar main";
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 12fr;
    grid-template-areas: "branding" "nav";
    background-color: #3abc79;
    color: white;
}

nav {
    grid-area: nav;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "pg" "settings";
 }

 .branding {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 450;
    font-family:'Rubik','Times New Roman', Times, serif;
 }

 .branding img {
    width: 70px;
    height: auto;
 }

 .sidebar,
    nav {
        gap: 45px;
        font-size: 1.5rem;
        font-weight: 400;
    }

 .page-nav {
    grid-area: pg;
 }

.settings-nav {
 grid-area: settings;
}

header {
    grid-area: header;
    display: grid;
    grid-template-rows: 2fr 3fr;
    align-items: center;
}

header .top {
    display: grid;
    grid-template-columns: 11fr 1fr 1fr 2fr;
    align-items: center;
}

form {
    display: flex;
}

label {
    display: flex;
    align-items: center;
}

input[type="search"] {
    appearance: none;
    border: none;
    border-radius: 20px;
    height: 28px;
    width: 100%;
    min-width: 215px;
    outline: 0;
    background-color: #e0e6ef;
}

input[type="search"]:hover, input[type="search"]:focus {
    border: 1.5px solid #009688;
    background-color: white;
}

input[type="search"]:not(:focus, :active)::-webkit-search-cancel-button {
    display: none; 
}

.profile-pic {
    height: 58px;
    width: auto;
}

.name {
    font-family:'Lora', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/* make sure name doesn't wrap (max content?) */

header .bottom {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: center;
}

.bottom .profile {
    display: flex;
    flex-direction: column;
}

.bottom .profile-pic {
    height: 90px;
    width: auto;
}

button {
    font-size: 1rem;
    font-weight: 600;
    padding: 8px 25px;
    border-radius: 20px;
    height: fit-content;
    color: white;
    background-color: #4598dc;
    appearance: none;
    border: none;
}

button:hover {
    cursor: pointer;
    outline: #2A4DD0 solid;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 5fr minmax(260px, 300px);
    background-color: #e0e6ef;
    padding: 25px 25px 40px 15px;
    /* check left and bottom paddings */
    gap: 20px;


}

.title {
    font-size: 1.28rem;
    font-weight: 500;
    font-family: 'IBM Plex Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
}

main .projects {
    display: grid;
    grid-template-rows: 1fr 13fr;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(401px, 1fr)); 
    /* check once add announcements about increasing min and min-width */
    grid-auto-rows: 1fr;
    gap: 25px;
}

.card {
    display: grid;
    grid-template-rows: 25px 1fr 25px;
    height: 250px;
    background: linear-gradient(to right, #BC3A7D 2.5%, #FFFFFF 1%);
    padding: 35px;
    min-width: 301px;
}

.project-name {
    font-size: 1.12rem;
    font-weight: 500;
}

.project {
    color: #696969;
}

.project-actions {
    margin-top: auto;
    margin-left: auto;
}

main .notices {
    display: grid;
    grid-template-rows: 7fr 7fr;
}


.announcements .body {
    padding: 20px 30px;
    /* check how this interacts with trending */
    max-height: 350px;
}

.announcement {
    height: 100px;
    padding: 15px 0;
}

.announcement:not(:first-child) {
    border-top: lightgray solid 1px;
}

.announcement:last-child {
    padding-bottom: 0;
}

.announcement .heading {
    font-weight: 500;
}

.announcement .content, .trending .current-project {
    font-size: 0.875rem;
    color: grey;
    font-weight: 4000;
}

.trending .body {
    padding: 20px 20px 30px 20px;
    max-height: 320px;
    display: grid;
    gap: 15px;
}

.trending .body > div {
    display: grid;
    grid-template-areas: "pic handle" "pic project";
    grid-template-columns: 80px 1fr;
    gap: 3px;
}

.trending .profile-pic {
    grid-area: pic;
}

.trending .handle {
    align-self: end;
}

.announcements .body, .card, .trending .body {
    background-color: white;
    border: 1px lightgrey solid;
    border-radius: 8px;
}

/* Add shadows */